body{
	font-family: "Sintony";
	margin: 0 auto;
	font-size: 12px;
	height: 92vh;
	background-color: black;
	background-image: url('https://wtlltech.com/wp-content/uploads/2020/08/bg.png');
}
@media only screen and (max-width: 992px){ 

	.navbarInicio{
		height: 65px !important;
	}
}

.container{
	position: absolute;
    justify-content: center;
    width: 90%;
    height: calc(100% - 60px);
    margin-left: 5%;
	margin-right: 5%;
    padding-top: 50px;
}

.container-title{
	text-align: center;
	padding-bottom: 50px;
}

.container-titleText{
	color: white; 
	font-size: 57px;
	font-family:'Sintony', sans-serif;
}

.container-box{
	position: relative;
    width: 100%;
    min-height: calc(100% - 85px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    margin-right: 5%;
}

.container-box-footer{
	position: fixed;
	margin: 0 5%;
    bottom: 0px;
    width: 90%;
	height: 60px;
	background: #0E0E14 0% 0% no-repeat padding-box;
}

.container-box-footerPadding{
	padding:0 40px;display: flex;
		height: 60px;
}

.container-box-footerEsquerda{
	width: 85%;
	margin-left: 5%;
	align-items: center;
	display: inline-flex;
}

.container-box-footerItem{
	color: white;
	opacity: .86;
	font-size: 18px;
	padding: 20px;
	text-decoration: none;
	text-transform: uppercase;
	align-items: center;
	transition: .3s;
}
.container-box-footerItem:hover{
	color: #3c4858;
	opacity: .86;
}

.container-box-footerDireita{
	width: 15%;align-items: center;
			justify-content: center;
			display: inline-flex;
}


.container-box-text1{
	color: rgba(0,0,0,.87);
		font-family: 'Sintony', sans-serif;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		padding: 30px 20px;
}

.container-box-text2{
	color: rgba(0,0,0,.87);
		font-family: 'Sintony', sans-serif;
		font-size: 16px;
		text-align: center;
		padding: 0px 20px;
}

.container-box-button{
	margin-top: 60px; text-align: center;
}

.container-box-buttonQuestion{
	margin-top: 25px; 
	text-align: center;
}
.container-box-buttonStyle:hover{
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 18px 22px 4px rgba(0,0,0,0.2); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 18px 22px 4px rgba(0,0,0,0.2);
	transition: 0.5s;
}
.container-box-buttonStyle{
	outline: none;
	background-color: black; 
	border-color: black;
	color: white; font-size: 14px; font-weight: bold; width: 150px; height: 35px; border-radius: 6px;cursor: pointer;
}

.container-box-textQuestion{
	color: black;
		font-family: 'Sintony', sans-serif;
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		padding: 30px 20px 20px;
}

.resultsText{
	width: 65%;
}

.resultsText > div{
	margin-bottom: 5px;
    display: block;
}

.container-box-body{
	padding: 30px;
	min-height: 310px;
}

.containerResults-title{
	color: rgba(0,0,0,.87);
	font-family: 'Sintony', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding: 30px 0 20px;
}

.containerResults-subtitle{
	color: rgba(0,0,0,.87);
	font-family: 'Sintony', sans-serif;
	font-size: 12px;
	text-align: center;
	padding: 0px 10%;
}

.containerResults-title2{
	color: rgba(0,0,0,.87);
	font-family: 'Sintony', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding: 30px 20px 20px;
}

.containerResults-subtitle2{
	color: rgba(0,0,0,.87);
	font-family: 'Sintony', sans-serif;
	font-size: 12px;
	text-align: center;
	padding: 0px 10%;
}

.containerResultsOptions{
	margin-top: 20px;
	display: flex; 
	font-size: 14px;
}

.containerResultsOptions1:hover{
	cursor:pointer;
}
.containerResultsOptions2:hover{
	cursor:pointer;
}
.containerResultsOptions3:hover{
	cursor:pointer;
}

.containerResultsOptions1{
	width: 33%;
}

.containerResultsOptions2{
	width: 33%; 
	text-align: center;
}

.containerResultsOptions3{
	width: 33%; 
	text-align: end;
}

.containerResultsBarSpace{
	margin-top: 5px; 
	display: flex;
}

.containerResultsBarBackground{
	position:relative; 
	width:100%; 
	height: 5px; 
	background-color: #E2E2E2;
}

.containerResultsBarForeground{
	position: absolute; 
	transition: .5s;
	left:0; 
	width: 34%; 
	height: 5px; 
	background-color: black;
}

.optionTitle{
	margin-top: 20px;
	margin-bottom: 20px;
}

.optionGraph{
	display: inline-flex; 
	margin-right: 5%;
}

.resultsTextTitle{
	font-weight: bold;
}

.tableHeader{
	
	word-wrap: break-word;
	font-weight: normal;
}

.tableRow{
	height:30px;
}

.tableOption{
	width: 60px;
	text-align: left;
	font-weight: bolder;
}

.CheckedPositive{
	border-radius: 20px;
	position: relative; 
	border: solid 1px #14BCA0;
	margin: 0 auto; 
	width: 20px; 
	height: 20px;
	transition:.5s;
}

.CheckedPositiveInt{
	border-radius: 20px;
	background-color: #14BCA0;
	margin: 0 auto;
	position: absolute;
	top: calc(50% - 5px);
	left: calc(50% - 5px);
	width: 10px;
	height: 10px;
	transition:.5s;
}

.CheckedNegative{
	border-radius: 20px; 
	position: relative; 
	border: solid 1px #FF3232;
	margin: 0 auto; 
	width: 20px; 
	height: 20px;
	transition:.5s;
}

.CheckedNegativeInt{
	border-radius: 20px;
	background-color: #FF3232;
	margin: 0 auto;
	position: absolute;
	top: calc(50% - 5px);
	left: calc(50% - 5px);
	width: 10px;
	height: 10px;
	transition:.5s;
}

.NotChecked{
	border-radius: 20px; 
	border: solid 1px black;
	margin: 0 auto; 
	width: 20px; 
	height: 20px;
	transition:.5s;
}

.NotChecked:hover{
	cursor:pointer;
	background-color:#E2E2E2;
}

.barSpace{
	margin-top: 20px;
}

.barBackground{
	position:relative; 
	margin: 0 auto;
	height: 5px; 
	background-color: #E2E2E2;
}

.barForeground{
	transition: .5s;
	position: absolute;
	height: 5px; 
	background-color: black;
}

.optionCounter{
	margin-top: 5px; 
	text-align: center; 
	font-size: 10px; 
	font-weight: bold;
}

.error_message {
	width: fit-content;
	font-weight: bold;
	padding-top: 10px;
	margin: 0 auto;
	color: red;
}
